<header>
    <img class="logo-header" src="assets/ressources/logo_UGE_Blanc.png" alt="logo de l'université Gustave Eiffel">
    <div class="navbar">
    <ul>
        <li><a class="button" routerLink="/" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Accueil</a></li>
        <li><a class="button" routerLink="/presentation" routerLinkActive="activebutton" ariaCurrentWhenActive="page" onclick="loadSlider()">Formation</a></li>
        <li><a class="button" routerLink="/formulaire" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Formulaire</a></li>
        <li><a class="button" routerLink="/visite_virtuelle" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Visite Virtuelle</a></li>
        <li><a class="button" routerLink="/tableau_de_bord" routerLinkActive="activebutton" ariaCurrentWhenActive="page"> Tableau de Bord</a></li>
        <li><a class="button" routerLink="/inscription" routerLinkActive="activebutton" ariaCurrentWhenActive="page"> Se connecter / S'inscrire</a></li>
        <li><a class="button" routerLink="/inscription" routerLinkActive="activebutton" ariaCurrentWhenActive="page"> Se déconnecter</a></li>
        </ul>
    </div>
</header>