<div id="img-fond">
    <div class="content">
        <div class="titre">
            <h1> Journée portes ouvertes</h1>
            <h2> Le 4 février 2024</h2>
        </div>
        <section>
            <h2>La JPO de l'IUT de Meaux</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum neque lorem. Maecenas ac porttitor sapien. 
                Aenean pulvinar nunc in mi sollicitudin, eu laoreet nisi pellentesque. Vestibulum ante ipsum primis in faucibus orci 
                luctus et ultrices posuere cubilia curae; Interdum et malesuada fames ac ante ipsum primis in faucibus. Nunc vel leo 
                ultricies nunc faucibus consectetur.</p>
    
            <h2>Localisation</h2>
            <hr>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2619.92862113884!2d2.875365176202683!3d48.95484499391422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e8a11cceb9ee4f%3A0x143615de96b042c5!2sIUT%20De%20Meaux%20Universit%C3%A9%20Gustave%20Eiffel!5e0!3m2!1sfr!2sfr!4v1701794050392!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p>17 rue Jablinot, 77100 Meaux</p>
    
    
            <h2>Transports</h2>
            <hr>
            <img id="img-transports" src="assets/ressources/transport.png" alt="Présentation des différents moyens de transports pour rejoindre l'IUT de Meaux"/>
    
            <h2>Feedbacks</h2>
            <hr>
            <input type="mail" placeholder="Email">
            <textarea id="feedback" placeholder="Donnez nous votre avis..." cols="40" rows="5" maxlength="150"></textarea>
            <button> Envoyer</button>
        </section>
    </div>
</div>