#body {
    background-color: whitesmoke;
    width: auto;
    height: 100%;
    margin: 0;
    border-radius: 0%;
    width: -webkit-fill-available;
}

.charts {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    align-items: center;
  }
.charts .column {
    --aspect-ratio: 4 / 3;
}


table{
  max-width: 300px;
  margin: 10px;
}
  
.column td {
    background-color: #2F2A85 !important;
}

.charts-css {
--color-1: #2F2A85;
--color-2: #8B4A97;
--color-3: #00936E;
--color-4: #FBBA00;
--color-5: #92C56E;
--color-6: #EF7D00;
}

 p {
  margin-top: auto;
  margin-bottom: auto;
  width: 150px;
  padding-top: 10px;
 }

 h2:first-of-type{
  padding-top: 20px;

}

h2{
  margin-left: 40px;
  padding-top: 60px;
}

.data {
  color: #2F2A85;
}

.legend{
  margin-left: 20%;
}

.batons {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 350px 50px;
  padding-top: 30px;
  grid-template-areas:
    "data-axis-1 chart data-axis-2"
    ". primary-axis .";
  background-color: white;
  width: 80%;
  margin: 0 auto;
}
.column {
  grid-area: chart;
}
.primary-axis {
  grid-area: primary-axis;
}
.data-axis-1 {
  grid-area: data-axis-1;
  writing-mode: tb-rl;
  transform: rotateZ(180deg);
}
.data-axis-2 {
  grid-area: data-axis-2;
  writing-mode: tb-rl;
  transform: rotateZ(360deg);
}
table{
  max-width: none;
}
