<div id="body">
    <h2>Nombre de réponses: XXXX</h2>

    <h2>Âge: </h2>
    <div class="charts batons">
      <table class="charts-css column show-labels show-primary-axis datasets-spacing-10 show-data-on-hover data-outside">
        <caption> Graphique Age</caption>
        <thead>
          <tr>
            <th scope="col"> Age </th>
            <th scope="col"> Nombre </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"> 15 </th>
            <td style="--size: 0.20;"><span class="data"> 7 </span></td>
          </tr>
          <tr>
            <th scope="row"> 16 </th>
            <td style="--size: .45;"><span class="data"> 12 </span></td>
          </tr>
          <tr>
            <th scope="row"> 17 </th>
            <td style="--size: 1.0;"><span class="data"> 21 </span></td>
          </tr>
          <tr>
            <th scope="row"> 18 </th>
            <td style="--size: 0.8;"><span class="data"> 17 </span></td>
          </tr>
          <tr>
            <th scope="row"> 19 </th>
            <td style="--size: 0.45;"><span class="data"> 12 </span></td>
          </tr>
          <tr>
            <th scope="row"> 20 </th>
            <td style="--size: 0.20;"><span class="data"> 07 </span></td>
          </tr>
          <tr>
            <th scope="row"> 21 </th>
            <td style="--size: 0.40;"><span class="data"> 15 </span></td>
          </tr>
          <tr>
            <th scope="row"> 22 </th>
            <td style="--size: 0.13;"><span class="data"> 5 </span></td>
          </tr>
          <tr>
            <th scope="row"> 25 </th>
            <td style="--size: 0.1;"><span class="data"> 4 </span></td>
          </tr>
          <tr>
            <th scope="row"> 31 </th>
            <td style="--size: 0.02;"><span class="data"> 2 </span></td>
          </tr>
          <tr>
            <th scope="row"> 33 </th>
            <td style="--size: 0.05;"><span class="data"> 5 </span></td>
          </tr>
          <tr>
            <th scope="row"> 37 </th>
            <td style="--size: 0.01;"><span class="data"> 1 </span></td>
          </tr>
        </tbody>
      </table>
      <div class="primary-axis"> Âge </div>
      <div class="data-axis-1"> Nombre </div>
    </div>
    
    <h2>Genre:</h2>
    <div class="charts">
        <table class="charts-css pie hide-data">
          <caption> Graphique Genre </caption>
          <tbody>
            <tr>
              <th scope="row"> 2016 </th>
              <td class="vert" style="--start: 0.00; --end: 0.54;"></td>
            </tr>
            <tr>
              <th scope="row"> 2017 </th>
              <td style="--start: 0.54; --end: 0.87;"></td>
            </tr>
            <tr>
              <th scope="row"> 2018 </th>
              <td style="--start: 0.87; --end: 0.95;"></td>
            </tr>
            <tr>
              <th scope="row"> 2019 </th>
              <td style="--start: 0.95; --end: 1;"></td>
            </tr>
          </tbody>
        </table>
        <ul class="charts-css legend legend-rhombus">
          <li> Homme</li>
          <li> Femme </li>
          <li> Ne pas préciser </li>
          <li> Autre</li>
        </ul>
    </div>

    <h2>Département: </h2>
    <div class="charts batons">
      <table class="charts-css column show-labels show-primary-axis datasets-spacing-10 show-data-on-hover data-outside">
        <caption> Graphique Age</caption>
        <thead>
          <tr>
            <th scope="col"> Age </th>
            <th scope="col"> Nombre </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"> 13 </th>
            <td style="--size: 0.20;"><span class="data"> 7 </span></td>
          </tr>
          <tr>
            <th scope="row"> 32 </th>
            <td style="--size: .45;"><span class="data"> 12 </span></td>
          </tr>
          <tr>
            <th scope="row"> 33 </th>
            <td style="--size: 1.0;"><span class="data"> 21 </span></td>
          </tr>
          <tr>
            <th scope="row"> 60 </th>
            <td style="--size: 0.8;"><span class="data"> 17 </span></td>
          </tr>
          <tr>
            <th scope="row"> 69 </th>
            <td style="--size: 0.45;"><span class="data"> 12 </span></td>
          </tr>
          <tr>
            <th scope="row"> 75 </th>
            <td style="--size: 0.20;"><span class="data"> 07 </span></td>
          </tr>
          <tr>
            <th scope="row"> 77 </th>
            <td style="--size: 0.40;"><span class="data"> 15 </span></td>
          </tr>
          <tr>
            <th scope="row"> 78 </th>
            <td style="--size: 0.13;"><span class="data"> 5 </span></td>
          </tr>
          <tr>
            <th scope="row"> 91 </th>
            <td style="--size: 0.1;"><span class="data"> 4 </span></td>
          </tr>
          <tr>
            <th scope="row"> 92 </th>
            <td style="--size: 0.02;"><span class="data"> 2 </span></td>
          </tr>
          <tr>
            <th scope="row"> 93 </th>
            <td style="--size: 0.05;"><span class="data"> 5 </span></td>
          </tr>
          <tr>
            <th scope="row"> 95 </th>
            <td style="--size: 0.01;"><span class="data"> 1 </span></td>
          </tr>
        </tbody>
      </table>
      <div class="primary-axis"> Département </div>
      <div class="data-axis-1"> Nombre </div>
    </div>

    <h2>Transport:</h2>
    <div class="charts">
        <table class="charts-css pie">
          <caption> Graphique Transport </caption>
          <tbody>
            <tr>
              <th scope="row"> Transport en commun </th>
              <td class="vert" style="--start: 0.0; --end: 0.42;"></td>
            </tr>
            <tr>
              <th scope="row"> Voiture / Moto </th>
              <td style="--start: 0.42; --end: 0.67;"></td>
            </tr>
            <tr>
              <th scope="row"> Marche </th>
              <td style="--start: 0.67; --end: 0.92;"></td>
            </tr>
            <tr>
              <th scope="row"> Autre </th>
              <td style="--start: 0.92; --end: 1;"></td>
            </tr>
          </tbody>
        </table>
        <ul class="charts-css legend legend-rhombus">
          <li> Transport en commun</li>
          <li> Voiture / Moto </li>
          <li> Marche </li>
          <li> Autre</li>
        </ul>
    </div>

    <h2>Statut:</h2>
    <div class="charts">
        <table class="charts-css pie">
          <caption> Graphique Statut </caption>
          <tbody>
            <tr>
              <th scope="row"> Eleve </th>
              <td class="vert" style="--start: 0.0; --end: 0.42;"></td>
            </tr>
            <tr>
              <th scope="row"> Parent </th>
              <td style="--start: 0.42; --end: 0.67;"></td>
            </tr>
            <tr>
              <th scope="row"> Professeur </th>
              <td style="--start: 0.67; --end: 0.92;"></td>
            </tr>
            <tr>
              <th scope="row"> Autre </th>
              <td style="--start: 0.92; --end: 1;"></td>
            </tr>
          </tbody>
        </table>
        <ul class="charts-css legend legend-rhombus">
          <li> Éleve</li>
          <li> Parent </li>
          <li> Professeur </li>
          <li> Autre</li>
        </ul>
    </div>

    <h2>Niveau d'étude:</h2>
    <div class="charts">
        <table class="charts-css pie">
          <caption> Graphique Niveau d'étude </caption>
          <tbody>
            <tr>
              <th scope="row"> Seconde </th>
              <td class="vert" style="--start: 0.0; --end: 0.42;"></td>
            </tr>
            <tr>
              <th scope="row"> Première </th>
              <td style="--start: 0.42; --end: 0.67;"></td>
            </tr>
            <tr>
              <th scope="row"> Terminal </th>
              <td style="--start: 0.67; --end: 0.92;"></td>
            </tr>
            <tr>
              <th scope="row"> Étudiant </th>
              <td style="--start: 0.92; --end: 1;"></td>
            </tr>
          </tbody>
        </table>
        <ul class="charts-css legend legend-rhombus">
          <li> Seconde</li>
          <li> Première </li>
          <li> Terminal </li>
          <li> Étudiant</li>
        </ul>
    </div>

    <h2>Bac ou équivalent:</h2>
    <div class="charts">
        <table class="charts-css pie">
          <caption> Graphique Bac </caption>
          <tbody>
            <tr>
              <th scope="row"> Général </th>
              <td class="vert" style="--start: 0.0; --end: 0.42;"></td>
            </tr>
            <tr>
              <th scope="row"> STI2D </th>
              <td style="--start: 0.42; --end: 0.67;"></td>
            </tr>
            <tr>
              <th scope="row"> STMG </th>
              <td style="--start: 0.67; --end: 0.92;"></td>
            </tr>
            <tr>
              <th scope="row"> Autre </th>
              <td style="--start: 0.92; --end: 1;"></td>
            </tr>
          </tbody>
        </table>
        <ul class="charts-css legend legend-rhombus">
          <li> Général</li>
          <li> STI2D </li>
          <li> STMG </li>
          <li> Autre</li>
        </ul>
    </div>

    <h2>Connaissance de la JPO:</h2>
    <div class="charts">
        <table class="charts-css pie">
          <caption> Graphique Connaissance de la JPO </caption>
          <tbody>
            <tr>
              <th scope="row"> Réseaux Sociaux </th>
              <td class="vert" style="--start: 0.0; --end: 0.42;"></td>
            </tr>
            <tr>
              <th scope="row"> Votre réseaux </th>
              <td style="--start: 0.42; --end: 0.56;"></td>
            </tr>
            <tr>
              <th scope="row"> Bouche à oreille </th>
              <td style="--start: 0.56; --end: 0.68;"></td>
            </tr>
            <tr>
              <th scope="row"> Flyers </th>
              <td style="--start: 0.68; --end: 72;"></td>
            </tr>
            <tr>
              <th scope="row"> Salon de l'étudiant </th>
              <td style="--start: 0.72; --end: 92;"></td>
            </tr>
            <tr>
              <th scope="row"> Autre </th>
              <td style="--start: 0.92; --end: 1;"></td>
            </tr>
          </tbody>
        </table>
        <ul class="charts-css legend legend-rhombus">
          <li> Réseau Sociaux</li>
          <li> Votre réseau </li>
          <li> Bouche à oreilles </li>
          <li> Flyers</li>
          <li>Salon de l'étudiant</li>
          <li>Autre</li>
        </ul>
    </div>

    <h2>Participation à la JPO:</h2>
    <div class="charts">
        <table class="charts-css pie">
          <caption> Graphique Participation à la JPO </caption>
          <tbody>
            <tr>
              <th scope="row"> Oui </th>
              <td class="vert" style="--start: 0.0; --end: 0.62;"></td>
            </tr>
            <tr>
              <th scope="row"> Non </th>
              <td style="--start: 0.62; --end: 1;"></td>
            </tr>
          </tbody>
        </table>
        <ul class="charts-css legend legend-rhombus">
          <li> Oui</li>
          <li> Non </li>
        </ul>
    </div>
</div>