<footer>
    <div id="r" class="col-footer">
        <img class="logo-iut-footer" src="assets/ressources/logo_UGE_Blanc.png" alt="logo de l'université Gustave Eiffel">
        <p>© Université Gustave Eiffel - 2023</p>
    </div>

    <div id="y" class="col-footer">
        <h3>Qui sommes-nous ?</h3>
        <a href="" class="txt-QSN">Université Gustave Eiffel</a><br><br>
        <a href="" class="txt-QSN">Centre d'Innovation Pédagogique et Numérique (CIPEN)</a>
    </div>

    <div id="b" class="col-footer">
        <h3>Contact</h3>
        <p> Tel :  01 60 95 72 54 <br> Mail : cipen&#64;univ-eiffel.fr</p>
        <p>Nous sommes ouvert du lundi au vendredi de 9h à 17h</p>
    </div>
    
    <div id="g" class="col-footer">
        <h3>Suivez nous</h3>
        <div id="logo-footer">
            <a href="https://www.facebook.com/UniversiteGustaveEiffel/"><div class="ronds" id="facebook"><img class="logo-rs" src="assets/ressources/logo/facebook.png" /></div></a>
            <a href="https://twitter.com/UGustaveEiffel"><div class="ronds" id="x"> <img class="logo-rs" src="assets/ressources/logo/X_logo_2023_(white).png" /></div></a>
            <a href="https://fr.linkedin.com/school/universit%C3%A9-gustave-eiffel/"><div class="ronds" id="linkedin"> <img class="logo-rs" src="assets/ressources/logo/Linkedin.png" /></div></a>
            <a href="https://www.instagram.com/universitegustaveeiffel/"><div class="ronds" id="instagram"> <img class="logo-rs" src="assets/ressources/logo/insta.png"/></div></a>
            <a href="https://www.youtube.com/channel/UCNMF04xs6lEAeFZ8TO6s2dw"><div class="ronds" id="youtube"> <img class="logo-rs" src="assets/ressources/logo/youtube-logo-icone.png"/></div></a>    
        </div>
    </div>
</footer>