<div id="body">
    <h2>Nombre de participants: XXXX</h2>
    <table class="table table-striped table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">Nom</th>
          <th scope="col">Prénom</th>
          <th scope="col">Email</th>
          <th scope="col">Tel</th>
          <th scope="col">Genre</th>
          <th scope="col">Départ.</th>
          <th scope="col">Transport</th>
          <th scope="col">Statut</th>
          <th scope="col">Niveau</th>
          <th scope="col">Bac</th>
          <th scope="col">Formation</th>
          <th scope="col">Connaissance</th>
          <th scope="col">Participation</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td scope="row">So</td>
          <td>Romain</td>
          <td>so.romain77&#64;gmail.com</td>
          <td>0628973024</td>
          <td>Homme</td>
          <td>77</td>
          <td>Voiture / Moto</td>
          <td>Etudiant</td>
          <td>Bac+2</td>
          <td>Bac Général</td>
          <td>BUT MMI</td>
          <td>Bouche à oreilles</td>
          <td>Oui</td>
        </tr>
        <tr>
            <td scope="row">Laporte</td>
            <td>Julian</td>
            <td>laporte.julian&#64;gmail.com</td>
            <td>0628973024</td>
            <td>Homme</td>
            <td>77</td>
            <td>Transport en commun</td>
            <td>Etudiant</td>
            <td>Etudiant</td>
            <td>Bac Général</td>
            <td>BUT MMI</td>
            <td>Salon Etudiants</td>
            <td>Oui</td>
        </tr>
        <tr>
            <td scope="row">Louise Alexandrine</td>
            <td>Patrick</td>
            <td>louisealexandrine.patrick&#64;univ-eiffel.com</td>
            <td>0612345678</td>
            <td>Homme</td>
            <td>77</td>
            <td>Voiture</td>
            <td>Professeur</td>
            <td>Bac+5</td>
            <td>Bac Général</td>
            <td>BUT MMI</td>
            <td>Votre réseau</td>
            <td>Oui</td>
        </tr>
    </table>
  </div>