<div id="img-fond">
    <div class="content">
        <section>
            <div id="split">
                <div id="inscription">
                    <form id="form-inscription" action="">
                        <h2>Inscription</h2>
                        
                        <label>Identifiant</label><br>
                        <input id="idInsc" type="text"><br>
        
                        <label>Mot de passe</label><br>
                        <input id="mdpInsc" type="password"><br>
        
                        <label>Confirmer mot de passe</label><br>
                        <input id="verifymdpInsc" type="password"><br>

                        <div class="btn-form">
                            <button type="button" onclick="verifyInscription()">Créer un compte</button>
                        </div>
                    </form>
                </div>
                <hr id="hr-projet">

                <div id="connexion">
                    <form id="form-connexion" action="">
                        <h2>Connexion</h2>
                        
                        <label>Identifiant</label><br>
                        <input id="idCon" type="text"><br>
        
                        <label>Mot de passe</label><br>
                        <input id="mdpCon" type="password"><br>
        
                        <div class="btn-form">
                            <button type="button" onclick="verifyConnexion()">Connexion</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>