#body {
    background-color: whitesmoke;
    width: auto;
    height: 100%;
    min-height: 500px;
    margin: 0;
    border-radius: 0%;
}

h2 {
    margin-left: 40px;
    padding-top: 20px;
}  

#split {
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
}

#gauche{
    display: flex;
    flex-direction: column;
    width: 50%;
}

#droite{
    display: flex;
    flex-direction: column;
    width: 50%;
}


.btn-form{
    display: flex;
    margin-top: 0px;
    width: 100%;
    justify-content: center;
}
.btn-form button{
    width: 350px;
}

label {
    margin-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}

input {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 80%;
    filter: drop-shadow(0px 0px 5px #D2D2D2);
}

table {
    width: 90%;
    height: fit-content;
    margin-left: 40px;
    margin-top: 30px; 
    word-break: break-word;
}

.supp-projet {
    width: 200px;
}