#genre_form, #transport_form, #statut_form , #niveau_form, #bac_form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#participation {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
}



#genre_form div, #transport_form div, #statut_form div, #niveau_form div, #bac_form div, #participation div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col25 {
    width: 25%;
}

.col20 {
    width: 20%;
}

.invisible {
    display: none !important;
}

section {
    width: 100%;
}

label{
    margin-left: 10px;
}

.lbl {
    font-weight: 500;
    padding-left: 10px;
    margin-top: 20px;
}

form {
    width: 70%;
}

input {
    margin-top: 0px;
    width: 80%;
}

input[type=radio] {
    width: 20px;
    height: 20px;
    padding-right: 10px;
}

#envoyer {
    background-color: #2F2A85;
    color: white;
    border-radius: 25px;
    margin-top: 20px;
    border: none;
    height: 40px;
    width: 250px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    padding: 0%;
}

#button {
    display: flex;
    justify-content: center;
}

select{
    width: 80%;
    height: 30px;
    border: 1px solid #D2D2D2;
    border-radius: 20px;
    padding-left: 20px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, .25);
}