<div id="img-fond">
    <div class="content">
        <div class="titre">
            <h1> Formation</h1>
        </div>
        <section>
            <div class="page-titre">
                <h2 id="btn-titre1" class="btn-titre active" onclick="showBUT(1)">BUT 1</h2>
                <h2 id="btn-titre2" class="btn-titre" onclick="showBUT(2)">BUT 2</h2>
                <h2 id="btn-titre3" class="btn-titre" onclick="showBUT(3)">BUT 3</h2>
            </div>
            <div id="BUT1">
                <article> 
                    <h3> Pour y accéder</h3>
                    <p>Le BUT est une formation sur trois ans. L'admission s'effectue sur dossier, et est accessible à tout titulaire d'un baccalauréat général ou technologique ou équivalent, ou par la validation des acquis professionnels et personnels dans le cadre de la VAP 85.</p>
                </article>
    
                <article> 
                    <h3> Compétences visées</h3>
                    <p>La spécialité MMI forme des professionnels de la conception et de la réalisation de produits et de services multimédias. Le diplômé MMI est un professionnel polyvalent appelé à réaliser ou à participer à la réalisation de projets multimédias et du développement Web et à en assurer l'interface et la coordination. Ses compétences de maitrise s'appuient sur une solide culture générale, de l'informatique et du multimédia.</p>
                </article>
    
                <article> 
                    <h3> Après la formation</h3>
                    <p>Le diplômé MMI peut exercer des fonctions très diverses en focntion du parcours suivi (3 parcours : Developpement Web, Création numérique et Stratégie de communication numérique) parmi lesquelles : intégrateur-développeur web, gestionnaire de communauté (community manager), administrateur de réseaux, assistant chef de projet multimédia, chargé de communication, web designer, etc. Il peut poursuivre ses études en intégrant des formations dans les domaine dee l'Information et la communication , le marketing, l' informatique...), de type école d'ingénieur (ESIPE, IMAC, EFREI, ESIEE,...), une école multimédia (IMAC, Les Gobelins, ...), etc...</p>
                </article>
    
                <article> 
                    <h3>Les + de la formation</h3>
                    <p>Intégré au campus de l'Université Gustave Eiffel et bénéficiant de ses ressources, l'IUT de Champs-sur-Marne et de Meaux s'appuie également sur un réseau de professionnels pour dispenser un enseignement proche des réalités de l'entreprise. L'IUT offre en même temps une ambiance familiale à ses étudiants. Il est possible d'effectuer le quatrième semestre au Québec. Une spécialisation à partir du semestre 3 est proposée. L'étudiant peut choisir un parcours Développement web et dispositifs interactifs s'il envisage de travailler ou de poursuivre des études dans le développement de sites web ou d'applications pour mobiles, ou bien un parcours Création numérique s'il est plus attiré par les réflexions et conceptions d'interfaces multimédias et s'il envisage de poursuivre des études en communication et nouvelles technologies.</p>    
                </article>
    
            </div>

            <div id="BUT2" class="hide">
                <article> 
                    <h3> Pour y accéder</h3>
                    <p>Le BUT est une formation en trois ans. L'admission s'effectue sur dossier, et
                        est accessible à tout titulaire d'un baccalauréat scientifique, technologique,
                        littéraire, ou équivalent, ou par la validation des acquis professionnels et
                        personnels.</p>
                </article>
    
                <article> 
                    <h3> Compétences visées</h3>
                    <p>Le parcours développement web et dispositif intéractif prépare les étudiants à
                        exercer les fonctions d’intégrateur web,
                        développeur front, développeur back, développeur full-stack, métiers de la
                        scénographie numérique, intégrateur de dispositif
                        de réalité virtuelle.
                        Les étudiants seront préparés aux enjeux du développement d’applications et
                        de site web et à la maitrise des outils et langages
                        informatiques nécessaires à leur conception et gestion.</p>    
                </article>
    
                <article> 
                    <h3> Après la formation</h3>
                    <p>Les étudiants poursuivent en 3è année de BUT ou peuvent intégrer une école
                        d'ingénieur sur dossier, ils obtiennent alors un DUT.
                        </p>
                </article>
    
                <article> 
                    <h3>Les + de la formation</h3>
                    <p>Intégré au campus de l'Université Gustave Eiffel et bénéficiant de ses
                        ressources, l'IUT de Champs-sur-Marne s'appuie également sur un réseau de
                        professionnels pour dispenser un enseignement proche des réalités de
                        l'entreprise. L'IUT offre en même temps une ambiance familiale à ses
                        étudiants. Il est possible d'effectuer le quatrième semestre au Québec.</p>    
                </article>
    
            </div>

            <div id="BUT3" class="hide">
                <article>
                    <h2>Parcours Développement Web</h2> 
                    <h3> Pour y accéder</h3>
                    <p>Le BUT est une formation sur trois ans. L'admission s'effectue sur dossier, et est accessible à tout titulaire d'un baccalauréat général ou technologique ou équivalent, ou par la validation des acquis professionnels et personnels dans le cadre de la VAP 85.</p>
                </article>
    
                <article> 
                    <h3> Compétences visées</h3>
                    <p>La spécialité MMI forme des professionnels de la conception et de la réalisation de produits et de services multimédias. Le diplômé MMI est un professionnel polyvalent appelé à réaliser ou à participer à la réalisation de projets multimédias et du développement Web et à en assurer l'interface et la coordination. Ses compétences de maitrise s'appuient sur une solide culture générale, de l'informatique et du multimédia.</p>
                </article>
    
                <article> 
                    <h3> Après la formation</h3>
                    <p>Le diplômé MMI peut exercer des fonctions très diverses en focntion du parcours suivi (3 parcours : Developpement Web, Création numérique et Stratégie de communication numérique) parmi lesquelles : intégrateur-développeur web, gestionnaire de communauté (community manager), administrateur de réseaux, assistant chef de projet multimédia, chargé de communication, web designer, etc. Il peut poursuivre ses études en intégrant des formations dans les domaine dee l'Information et la communication , le marketing, l' informatique...), de type école d'ingénieur (ESIPE, IMAC, EFREI, ESIEE,...), une école multimédia (IMAC, Les Gobelins, ...), etc...</p>
                </article>
    
                <article> 
                    <h3>Les + de la formation</h3>
                    <p>Intégré au campus de l'Université Gustave Eiffel et bénéficiant de ses ressources, l'IUT de Champs-sur-Marne et de Meaux s'appuie également sur un réseau de professionnels pour dispenser un enseignement proche des réalités de l'entreprise. L'IUT offre en même temps une ambiance familiale à ses étudiants. Il est possible d'effectuer le quatrième semestre au Québec. Une spécialisation à partir du semestre 3 est proposée. L'étudiant peut choisir un parcours Développement web et dispositifs interactifs s'il envisage de travailler ou de poursuivre des études dans le développement de sites web ou d'applications pour mobiles, ou bien un parcours Création numérique s'il est plus attiré par les réflexions et conceptions d'interfaces multimédias et s'il envisage de poursuivre des études en communication et nouvelles technologies.</p>    
                </article>
    
            </div>


            
            <div class="page-titre">
                <h2>Projets</h2>
            </div>

            <div id="slider-container">
                <div id="slide-gauche"><img src="/assets/ressources/slideGauche.png" alt="<" /></div>
                <div id="slider-projet">

                    <div id="projet1" class="projet">
                        <div class="image-projet"> <p>image</p></div>
                        <hr id="hr-projet">
                        <div class="presentation-projet">
                            <table>
                                <tr>
                                  <td class="col-gauche">Titre:</td>
                                  <td style="width:70%">Projet 1</td>
                                </tr>
                                  <tr>
                                  <td class="col-gauche">Nombre de personnes:</td>
                                  <td>2</td>
                                </tr>
                                  <tr>
                                  <td class="col-gauche">Temps de travail:</td>
                                  <td>20 heures</td>
                                </tr>
                                  <tr>
                                  <td class="col-gauche">Lien vers le projet:</td>
                                  <td>https://www.lienversleprojet.fr</td>
                                </tr>
                                  <tr>
                                  <td class="col-gauche">Description:</td>
                                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum neque lorem. Maecenas ac porttitor sapien.</td>
                                </tr>
                            </table>  
                        </div>
                    </div>

                    <div id="projet2" class="projet hide-projet">
                        <div class="image-projet"> <p>image</p></div>
                        <hr id="hr-projet">
                        <div class="presentation-projet">
                            <table>
                                <tr>
                                  <td class="col-gauche">Titre:</td>
                                  <td style="width:70%">Projet 2</td>
                                </tr>
                                  <tr>
                                  <td class="col-gauche">Nombre de personnes:</td>
                                  <td>2</td>
                                </tr>
                                  <tr>
                                  <td class="col-gauche">Temps de travail:</td>
                                  <td>20 heures</td>
                                </tr>
                                  <tr>
                                  <td class="col-gauche">Lien vers le projet:</td>
                                  <td>https://www.lienversleprojet.fr</td>
                                </tr>
                                  <tr>
                                  <td class="col-gauche">Description:</td>
                                  <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras condimentum neque lorem. Maecenas ac porttitor sapien.</td>
                                </tr>
                            </table>  
                        </div>
                    </div>

                </div>
                <div id="slide-droite"><img src="/assets/ressources/slideDroite.png" alt=">"></div>
              </div>
        </section>
    </div>
</div>
